<%= devise_error_messages! %>
<div class="box1">
  <div class="box-inner">
    <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
    <h1>新規登録</h1>
    <div class="box-name">
      <%= f.label :name, "名前※後から変更できません！" %><br />
      <%= f.text_field :name, autofocus: true %>
    </div>
    <div class="box-rank">
      <%= f.label :rank, "ランク" %><br />
      <%= f.select :rank, [
        ["アンランク", "un"], 
        ["アイアン1", "i1"],
        ["アイアン2", "i2"],
        ["アイアン3", "i3"],
        ["ブロンズ1", "b1"],
        ["ブロンズ2", "b2"],
        ["ブロンズ3", "b3"],
        ["シルバー1", "s1"],
        ["シルバー2", "s2"],
        ["シルバー3", "s3"],
        ["ゴールド1", "g1"],
        ["ゴールド2", "g2"],
        ["ゴールド3", "g3"],
        ["プラチナ1", "p1"],
        ["プラチナ2", "p2"],
        ["プラチナ3", "p3"],
        ["ダイア1", "d1"],
        ["ダイア2", "d2"],
        ["ダイア3", "d3"],
        ["カメムシ", "a1"],
        ["アセンダント2", "a2"],
        ["アセンダント3", "a3"],
        ["イモータル1", "imo1"],
        ["イモータル2", "imo2"],
        ["イモータル3", "imo3"],
        ["valorant", "rs"]], include_blank: "選択して下さい" %>
    </div>

    <div class="box-rank">
      <%= f.label :rank, "性別" %><br />
      <%= f.select :gender, [
        ["女性", "f"], 
        ["男性", "m"]], include_blank: "選択して下さい" %>
    </div>

    <div class="box-password">
      <%= f.label :password, "パスワード" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="box-password">
      <%= f.label :password_confirmation, "パスワード(確認)" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="box-login">
      <%= f.submit "新規登録" %>
    </div>
    <% end %>

    <div class="box-newusr">
      <p><span>------------</span> 既に登録されていますか？ <span>------------</span></p>
      <%= link_to "ログイン", new_user_session_path %>
    </div>
  </div>
</div>
