<!DOCTYPE html>
<html>
  <head>
    <title>にょすvalo掲示板</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag('favicon.ico') %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Yuji+Syuku&display=swap" rel="stylesheet">
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <div class="Logo">
        <%= link_to("🐮✋","/posts")%>
      </div>
      <ul>
        <% if user_signed_in? %>
          <li>
            <%= link_to '募集一覧', posts_path %>
          </li>
          <li>
            <%= link_to "マイページ", user_path(current_user.id)%>
          </li>
          <li>
              <%= link_to("ログアウト",destroy_user_session_path,data: { "turbo-method": :delete })%>
          </li>
        <%else%>
          <li>
            <%= link_to("新規登録","/users/sign_up")%>
          </li>
          <li>
            <%= link_to("ログイン","/users/sign_in")%>
          </li>
        <%end%>
      </ul>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <footer>
      <div class="foot">
        &copy;2023/にょっす
      </div>
    </footer>
  </body>
</html>
